<!DOCTYPE html>
<html>

    <head>
        <title>X-11</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark"/>
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    </head>

    <body>
        <form hx-get="/search" hx-target="#search-results">
            <input id="search-bar" autocomplete="off"
            name="query"
            hx-get="/autocomplete"
            hx-trigger="keyup changed delay:10ms"
            hx-target="#autocomplete">
        </form>

        <div id="search-results"></div>

        <ul id="autocomplete" 
            _ = "
            on keydown[keyCode==40] from #search-bar
            set c to first <li.selected/> in me
            then if c remove .selected from c then get next <li/> from c then set n to it end
            then if not c get first <li/> in me then set n to it end
            then if n add .selected to n end

            on keydown[keyCode==38] from #search-bar
            set c to first <li.selected/> in me
            then if c remove .selected from c then get previous <li/> from c then set n to it end
            then if not c get last <li/> in me then set n to it end
            then if n add .selected to n end
            ">
        </ul>

    </body>
</html>

