body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  text-align: center;
}

#search {
  background-color: #333333;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  width: 500px;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.search-results {
  padding-left: 20%;
  padding-right: 20%;
}

.search-results li {
  list-style-type: none;
}

.search-results h2 {
  color: #fff;
}

.search-results p {
  color: #fff;
  font-size: 20px;
}

