body {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.searchSpace {
    width: 100%;
    position: fixed;
    top: 0;
}

.searchBar {
    width: 66.7%;
    box-sizing: border-box;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

.searchBar:focus {
    outline: 0 none;
}

.autocompleteOuter {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.autocompleteInner {
    width: 66.7%;
    position: fixed;
    padding: 0px;
}

.autocompleteInner ul {
    text-align: left;
    padding: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0px;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 0.75rem;
    border: 1px solid black;
}

.autocompleteInner ul li {
    list-style-type: none;
    padding-left: 0.5rem;
}

.autocompleteInner ul li:hover {
    background-color: #d0d0d0;
}

.selected {
    background-color: #d0d0d0;
}

.searchResults {
    margin-top: 5rem;
    width: 100%;
}

.searchResults div {
    text-align: left;
    width: 75%;
    margin: 0.75rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.searchResults div p {
    margin: 0;
    text-align: right;
    font-size: medium;
}

.searchResults div h3 {
    font-weight: normal;
}
