<!DOCTYPE html>
<html>

    <head>
        <title>X-11</title>
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    </head>

    <body>
        <input id="search" autocomplete="off" type="search" placeholder="search"
        name="query"
        hx-get="/search" 
        hx-trigger="keyup changed delay:5ms, search" 
        hx-target="#search-results">

        <ul id="search-results" class="search-results">
        </ul>
    </body>

</html>

