<!DOCTYPE html>
<html>

    <head>
        <title>X-11</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name    = "color-scheme" content = "light dark"/>
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    </head>

    <body>
        <form hx-get="/search" hx-target="#search-results">
            <input id="search-bar" autocomplete="off"
                name="query"
                hx-get="/suggest" 
                hx-trigger="keyup changed delay:10ms"
                hx-target="#search-suggestions"
                list="search-suggestions">
        </form>
        <datalist id="search-suggestions" hx-swap-oob="true"></datalist>

        <div id="search-results"></div>
    </body>
</html>

